.m-t-100 {
  margin-top: 0.25rem;
}

.m-t-200 {
  margin-top: 0.5rem;
}

.m-t-300 {
  margin-top: 1rem;
}

.m-t-400 {
  margin-top: 1.5rem;
}

.m-t-500 {
  margin-top: 2rem;
}

.m-t-600 {
  margin-top: 3rem;
}

.m-t-700 {
  margin-top: 4rem;
}

.m-t-800 {
  margin-top: 6rem;
}

.m-t-900 {
  margin-top: 8rem;
}

.m-b-100 {
  margin-bottom: 0.25rem;
}

.m-b-200 {
  margin-bottom: 0.5rem;
}

.m-b-300 {
  margin-bottom: 1rem;
}

.m-b-400 {
  margin-bottom: 1.5rem;
}

.m-b-500 {
  margin-bottom: 2rem;
}

.m-b-600 {
  margin-bottom: 3rem;
}

.m-b-700 {
  margin-bottom: 4rem;
}

.m-b-800 {
  margin-bottom: 6rem;
}

.m-b-900 {
  margin-bottom: 8rem;
}

.m-l-100 {
  margin-left: 0.25rem;
}

.m-l-200 {
  margin-left: 0.5rem;
}

.m-l-300 {
  margin-left: 1rem;
}

.m-l-400 {
  margin-left: 1.5rem;
}

.m-l-500 {
  margin-left: 2rem;
}

.m-l-600 {
  margin-left: 3rem;
}

.m-l-700 {
  margin-left: 4rem;
}

.m-l-800 {
  margin-left: 6rem;
}

.m-l-900 {
  margin-left: 8rem;
}

.m-r-100 {
  margin-right: 0.25rem;
}

.m-r-200 {
  margin-right: 0.5rem;
}

.m-r-300 {
  margin-right: 1rem;
}

.m-r-400 {
  margin-right: 1.5rem;
}

.m-r-500 {
  margin-right: 2rem;
}

.m-r-600 {
  margin-right: 3rem;
}

.m-r-700 {
  margin-right: 4rem;
}

.m-r-800 {
  margin-right: 6rem;
}

.m-r-900 {
  margin-right: 8rem;
}

.m-x-100 {
  margin-inline: 0.25rem;
}

.m-x-200 {
  margin-inline: 0.5rem;
}

.m-x-300 {
  margin-inline: 1rem;
}

.m-x-400 {
  margin-inline: 1.5rem;
}

.m-x-500 {
  margin-inline: 2rem;
}

.m-x-600 {
  margin-inline: 3rem;
}

.m-x-700 {
  margin-inline: 4rem;
}

.m-x-800 {
  margin-inline: 6rem;
}

.m-x-900 {
  margin-inline: 8rem;
}

.m-y-100 {
  margin-block: 0.25rem;
}

.m-y-200 {
  margin-block: 0.5rem;
}

.m-y-300 {
  margin-block: 1rem;
}

.m-y-400 {
  margin-block: 1.5rem;
}

.m-y-500 {
  margin-block: 2rem;
}

.m-y-600 {
  margin-block: 3rem;
}

.m-y-700 {
  margin-block: 4rem;
}

.m-y-800 {
  margin-block: 6rem;
}

.m-y-900 {
  margin-block: 8rem;
}

.m-a-100 {
  margin: 0.25rem;
}

.m-a-200 {
  margin: 0.5rem;
}

.m-a-300 {
  margin: 1rem;
}

.m-a-400 {
  margin: 1.5rem;
}

.m-a-500 {
  margin: 2rem;
}

.m-a-600 {
  margin: 3rem;
}

.m-a-700 {
  margin: 4rem;
}

.m-a-800 {
  margin: 6rem;
}

.m-a-900 {
  margin: 8rem;
}

.p-t-100 {
  padding-top: 0.25rem;
}

.p-t-200 {
  padding-top: 0.5rem;
}

.p-t-300 {
  padding-top: 1rem;
}

.p-t-400 {
  padding-top: 1.5rem;
}

.p-t-500 {
  padding-top: 2rem;
}

.p-t-600 {
  padding-top: 3rem;
}

.p-t-700 {
  padding-top: 4rem;
}

.p-t-800 {
  padding-top: 6rem;
}

.p-t-900 {
  padding-top: 8rem;
}

.p-b-100 {
  padding-bottom: 0.25rem;
}

.p-b-200 {
  padding-bottom: 0.5rem;
}

.p-b-300 {
  padding-bottom: 1rem;
}

.p-b-400 {
  padding-bottom: 1.5rem;
}

.p-b-500 {
  padding-bottom: 2rem;
}

.p-b-600 {
  padding-bottom: 3rem;
}

.p-b-700 {
  padding-bottom: 4rem;
}

.p-b-800 {
  padding-bottom: 6rem;
}

.p-b-900 {
  padding-bottom: 8rem;
}

.p-l-100 {
  padding-left: 0.25rem;
}

.p-l-200 {
  padding-left: 0.5rem;
}

.p-l-300 {
  padding-left: 1rem;
}

.p-l-400 {
  padding-left: 1.5rem;
}

.p-l-500 {
  padding-left: 2rem;
}

.p-l-600 {
  padding-left: 3rem;
}

.p-l-700 {
  padding-left: 4rem;
}

.p-l-800 {
  padding-left: 6rem;
}

.p-l-900 {
  padding-left: 8rem;
}

.p-r-100 {
  padding-right: 0.25rem;
}

.p-r-200 {
  padding-right: 0.5rem;
}

.p-r-300 {
  padding-right: 1rem;
}

.p-r-400 {
  padding-right: 1.5rem;
}

.p-r-500 {
  padding-right: 2rem;
}

.p-r-600 {
  padding-right: 3rem;
}

.p-r-700 {
  padding-right: 4rem;
}

.p-r-800 {
  padding-right: 6rem;
}

.p-r-900 {
  padding-right: 8rem;
}

.p-x-100 {
  padding-inline: 0.25rem;
}

.p-x-200 {
  padding-inline: 0.5rem;
}

.p-x-300 {
  padding-inline: 1rem;
}

.p-x-400 {
  padding-inline: 1.5rem;
}

.p-x-500 {
  padding-inline: 2rem;
}

.p-x-600 {
  padding-inline: 3rem;
}

.p-x-700 {
  padding-inline: 4rem;
}

.p-x-800 {
  padding-inline: 6rem;
}

.p-x-900 {
  padding-inline: 8rem;
}

.p-y-100 {
  padding-block: 0.25rem;
}

.p-y-200 {
  padding-block: 0.5rem;
}

.p-y-300 {
  padding-block: 1rem;
}

.p-y-400 {
  padding-block: 1.5rem;
}

.p-y-500 {
  padding-block: 2rem;
}

.p-y-600 {
  padding-block: 3rem;
}

.p-y-700 {
  padding-block: 4rem;
}

.p-y-800 {
  padding-block: 6rem;
}

.p-y-900 {
  padding-block: 8rem;
}

.p-a-100 {
  padding: 0.25rem;
}

.p-a-200 {
  padding: 0.5rem;
}

.p-a-300 {
  padding: 1rem;
}

.p-a-400 {
  padding: 1.5rem;
}

.p-a-500 {
  padding: 2rem;
}

.p-a-600 {
  padding: 3rem;
}

.p-a-700 {
  padding: 4rem;
}

.p-a-800 {
  padding: 6rem;
}

.p-a-900 {
  padding: 8rem;
}/*# sourceMappingURL=spacings.css.map */